$border-radius-root: 4px;

$rounded: (
        0: 0,
        'sm': $border-radius-root / 2,
        null: $border-radius-root,
        'lg': $border-radius-root * 2,
        'xl': $border-radius-root * 4,
        'xxl': $border-radius-root * 6,
        'xxxl': $border-radius-root * 8,
        'pill': 9999px,
        'circle': 50%
);